/* 공통 초기화 */
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  margin-top: 80px;

  font-family: "Noto Sans KR", sans-serif;

  background-color: #e3e9f7;
  color: #000;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;

  font-family: "Spoqa Han Sans", sans-serif;
  font-size: 18px;
  color: black;

  background: #007bff;

  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
button:active {
  background: #024b9a;
}

html {
  overflow-y: scroll;
}
/* 공통 네비게이션 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background: linear-gradient(135deg, #49aef1 0%, #4e7fff 50%, #3392f1 100%);
}
.nav-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 80px;
}
.nav-container > a {
  height: 78px;
  border-radius: 5px;
}
.nav-container .university-logo {
  flex-shrink: 0;
  height: 80px;
}
.nav-container .nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 100%;

  list-style: none;

  background: blue;
}
.nav-container .nav-menu.mobile-open {
  display: flex;
}
.nav-container .nav-item {
  box-sizing: border-box;

  flex: 0 0 auto;
  min-width: 100px;
  height: 78px;
  padding: 0 10px;
  border: 1px solid rgba(00, 57, 212, 0.5);

  white-space: nowrap;

  background-color: rgba(00, 57, 212, 0.2);
}
.nav-container > a:hover,
.nav-item:hover {
  background: rgba(00, 57, 212, 0.1);
}
.nav-container > a:active,
.nav-item:active {
  background: rgba(00, 57, 212, 0.3);
}
.nav-container .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
/* 모바일용  네비게이션 토글 버튼 */
.nav-container .nav-toggle {
  display: none;
  margin-right: 20px;
  border: none;

  font-size: 50px;
  color: #333;

  background: none;

  cursor: pointer;
}

/* 배너 */
.banner {
  margin-top: 90px;

  text-align: center;
}
.banner-container {
  position: relative;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;

  background: #ddd;

  overflow: hidden;
}
.banner-container .slide-wrap {
  position: relative;

  display: flex;
  width: max-content;
}
.banner-container .slide {
  flex-shrink: 0;
  width: 100%;
  max-width: 900px;
}
.banner-container .slide img {
  display: block;
  width: 100%;
  height: 700px;
  border-radius: 10px;
}

.banner-container #prev,
.banner-container #next {
  position: absolute;
  top: 50%;
  z-index: 10;

  padding: 10px;
  border: none;
  border-radius: 50%;

  color: white;

  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transform: translateY(-50%);
}
.banner-container #prev:hover,
.banner-container #next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-container #prev {
  left: 10px;
}
.banner-container #next {
  right: 10px;
}

/* 팝업 */
.popup {
  position: fixed;
  inset: 0;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}
.popup-content {
  padding: 20px;
  border-radius: 5px;

  background: white;
}

/**   학교 소개    ***/
.introduce-container {
  position: relative;

  margin: 130px 40px;
}
.introduce-container .tab-menu {
  display: flex;
  width: 95%;
  margin: auto;
}
.introduce-container .tab-btn {
  flex: 1;
  padding: 6px;
  border: 2px solid #0056b3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  font-size: 1.5rem;
  font-weight: bold;

  background: #f8f9fa;

  cursor: pointer;
}
.introduce-container .tab-btn.active {
  background: #007bff;
  color: white;
}
.introduce-container .tab-content {
  position: absolute;
  z-index: 0;

  width: 100%;
  min-height: 150px;
  padding: 20px;
  border: 3px solid #0056b3;
  border-radius: 8px;

  background: #f8f9fa;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.introduce-container .tab-content.active {
  z-index: 1;

  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.introduce-container .tab-content .univ-img {
  display: block;
  width: 100%;
  max-width: 800px;

  margin: 0 auto 40px;
  border-radius: 10px;
}
.introduce-container .tab-content .intro-title-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
}
.introduce-container .tab-content .intro-title-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 2px solid #2e64a1;
  border-radius: 50%;

  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;

  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  cursor: pointer;
}
.introduce-container .tab-content .intro-title-btn:hover,
.introduce-container .tab-content .intro-title-btn.active {
  color: white;

  background-color: #007bff;
  transform: scale(1.05);
}
.introduce-container .tab-content .intro-content {
  display: none;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 2rem;
  line-height: 1.6;

  background-color: rgba(0, 0, 0, 0.07);
}
.introduce-container .tab-content .intro-content p {
  margin-bottom: 1.5em;

  line-height: 1.7;
}
.introduce-container .tab-content .intro-content.active {
  display: block;
}

.introduce-container .tab-content .timeline-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
}
.introduce-container .tab-content .timeline-container h2 {
  margin-bottom: 20px;

  font-size: 60px;
}
.introduce-container .tab-content .timeline-container .timeline {
  position: relative;

  border-left: 3px solid #4a90e2;
  padding-left: 30px;
}
.introduce-container .tab-content .timeline-container .timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 3px;
  height: 100%;

  background: #4a90e2;
}
.introduce-container .tab-content .timeline-container .timeline-item {
  position: relative;

  margin-bottom: 40px;
}
.introduce-container .tab-content .timeline-container .timeline-item::before {
  content: "";
  position: absolute;
  left: -43px;
  bottom: 0px;

  width: 20px;
  height: 20px;
  border: 3px solid #4a90e2;
  border-radius: 50%;

  background: white;
}
.introduce-container .tab-content .timeline-container .timeline-date {
  position: relative;
  bottom: -50px;

  margin-bottom: 8px;

  font-size: 20px;
  font-weight: bold;
  color: #4a90e2;
}
.introduce-container .tab-content .timeline-container .timeline-content {
  position: relative;
  bottom: -50px;

  padding: 15px 20px;
  border-radius: 8px;

  font-size: 15px;
  line-height: 1.6;

  background: #f4f4f4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.introduce-container .tab-content .principal-container {
  display: flex;
  gap: 30px;
  max-width: 700px;
  margin: 0 auto;

  background-color: #f9f9f9;
}
.introduce-container .tab-content .principal-container .principal-photo {
  width: 60%;
  height: 60%;
  border: 5px solid gainsboro;
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
.introduce-container .tab-content .principal-container .principal-message {
  max-width: 600px;

  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}
.introduce-container .tab-content .principal-container .principal-message h2 {
  margin-bottom: 12px;
  padding-left: 10px;
  border-left: 5px solid #004080;

  font-size: 28px;
  color: #004080;
}
.introduce-container .tab-content .principal-container .principal-message p {
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 1.6;
}
.introduce-container .tab-content .principal-container .principal-message span {
  display: block;

  font-style: italic;
  font-weight: 600;
  color: #666;
  text-align: right;
}
.introduce-container .tab-content iframe {
  display: block;
  width: 80%;
  min-height: 500px;
  margin: 20px auto;
  border: 1px solid black;
}
/** 대학 및 학과 소개 **/
.college-container {
  max-width: 1200px;
  margin: auto;
}
.college-container .college-department {
  margin: 30px 0;
  padding: 15px;
  background-color: #e9f1ff;
  border: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
}
.college-container .college-department:hover {
  background-color: #c1d3f2;
}
.college-container .college-department:active {
  background-color: #88b0f4;
}
.college-container .college-department-img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 700px;
  margin: 10px auto;
  border: 2px solid #5a7ab0;
  border-radius: 10px;
}
.college-container .department-list {
  display: none;
  margin-top: -30px;
  margin-bottom: 30px;

  background-color: #f9f9f9;

  cursor: pointer;
}
.college-container .department-list.active {
  display: block;
}
.college-container .department-list ul {
  font-size: 2rem;
  line-height: 100px;
  list-style: none;
  text-align: center;
}
.college-container .department-list li {
  border: 1px solid #c7def7;
}
.college-container .department-list li:hover {
  background-color: #c7def7;
}
.college-container .department-list li:active {
  background-color: #acd1f8;
}
/* 학과 모달창 */
.modal {
  position: fixed;
  inset: 0;
  z-index: 3000;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}
.modal.show {
  display: flex;
}
.modal .modal-content {
  position: relative;

  width: 80%;
  height: 70%;
  max-width: 1000px;
  max-height: 800px;
  border-radius: 8px;

  background: rgba(216, 216, 216);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  overflow-y: auto;
}
.modal .modal-content .modal-head {
  display: flex;
  justify-content: space-between;

  background-color: #acd1f8;
}
.modal .modal-content .modal-head .modal-title {
  margin: 5px 15px;

  font-size: 40px;
  font-weight: bold;
}
.modal .modal-content .modal-head .modal-close {
  margin: 5px 15px;
  border: none;

  font-size: 40px;

  background: none;

  cursor: pointer;
}
.modal .modal-content .modal-body {
  margin: 10px;
  padding: 10px;
  border: 2px solid #aeccff;
  border-radius: 5px;

  background: white;
}
.modal .modal-content .modal-body h2 {
  margin-bottom: 20px;

  text-align: center;
}
.modal .modal-content .modal-body h3 {
  margin: 20px;

  text-align: center;
}
.modal .modal-content .modal-body li {
  list-style: none;
}

/* 로그인 */
.login-container {
  width: 490px;
  height: 618px;
  margin: 0;
  margin-top: -80px;
  padding: 40px 35px;
  border: 40px solid #1e90ff;

  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.login-container .logo {
  width: 250px;
  height: 70px;
  margin-bottom: 70px;

  cursor: pointer;
}
.login-container .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-container .form input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s;
}
.login-container .form button {
  padding: 12px;
  border: none;
  height: 60px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
.login-container .form .login-btn {
  margin-top: 20px;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
}
.login-container .form .login-btn:hover {
  background-color: #187bcd;
}
.login-container .form .signup-btn {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}
.login-container .form .signup-btn:hover {
  background-color: #e0e0e0;
}
/* 회원가입 */
.main-link {
  display: flex;
  margin: -40px 0 0 40px;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4e7fff;
}

.main-link:hover {
  color: #366fff;
}

.main-link:active {
  color: #2362ff;
}

/* 회원가입 컨테이너 */
.regist-container {
  width: 90%;
  max-width: 1000px;
  height: auto; /* 고정 높이 제거, 콘텐츠에 따라 자동 조정 */
  margin: 20px auto;
  padding: 30px;
  border: 4px solid #4e7fff;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.regist-container h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 3.5rem;
  color: #1e90ff;
}
.regist-container table {
  width: 100%;
  border-collapse: collapse;
}
.regist-container table tr td {
  padding: 10px 8px;
  vertical-align: top;
  font-weight: bold;
  font-size: 1.5rem;
}
.regist-container table tr td:first-child {
  width: 200px;
}
.regist-container table tr td .signup-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 18px;
}
.regist-container table tr td .signup-input:focus {
  border-color: #007bff;
  outline: none;
}
.regist-container table tr td .id-check-btn {
  width: 90px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  padding: 4px 4px;

  font-size: 10px;
  font-weight: bold;

  background-color: white;
}
.regist-container table tr td .id-check-btn:hover {
  background-color: rgb(182, 182, 182);
}
.regist-container table tr td .id-check-btn:active {
  background-color: rgb(164, 164, 164);
}
.regist-container table tr td .input-result {
  display: block;
  margin-top: 4px;

  font-size: 12px;
  color: #666;
  text-align: center;
}
.regist-container table tr td .input-result.valid {
  color: rgb(120, 120, 245);
}
.regist-container table tr td .input-result.invalid {
  color: rgb(234, 121, 121);
}
.regist-container table tr td label {
  margin: 80px;
  font-size: 1rem;
}
.regist-container table tr .btn-area {
  padding: 20px 0;
  text-align: center;
}
.regist-container table tr .btn-area .signup-btn {
  color: #fff;
}
/* 마이페이지 */
.session-timer {
  margin-top: 90px;
  margin-right: 15px;
  text-align: right;
}
.session-timer span {
  font-weight: bold;
  color: #d9534f;
}
.session-timer .extend-btn {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  padding: 5px 8px;
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 5px;
}
.session-timer .extend-btn:hover {
  background-color: #999;
}
.session-timer .extend-btn:active {
  background-color: #888;
}

.mypage-container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.mypage-container h2 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 50px;
  color: #333;
}
.mypage-container .profile-upload {
  position: relative;
  margin: auto;
  width: 240px;
  height: 240px;
}

.mypage-container .profile-upload input[type="file"] {
  display: none;
}

.mypage-container .profile-upload .upload-label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.mypage-container .profile-upload .upload-label img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.mypage-container .profile-upload .upload-label p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 65px;
  line-height: 42px;
  text-align: center;

  border: 1px solid #dfdfdf;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(240, 239, 239);

  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.mypage-container .change-password-container button {
  display: none;
  width: 150px;
  height: 60px;
  padding: auto;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: #555;
  margin: 50px auto;
  border: 1px solid #ccc;
  transition: all 0.3s;
}

.mypage-container .change-password-container button.active {
  display: flex;
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

.mypage-container .change-password-container .password-section {
  display: none;
  margin-top: 20px;
}

.mypage-container .change-password-container .password-section.active {
  display: block;
}

.mypage-container .change-password-container p {
  color: red;
  display: none;
  margin-top: 5px;
}
.mypage-container .change-password-container p.active {
  display: block;
}

.mypage-container p {
  font-size: 26px;
  line-height: 40px;
  margin-top: 15px;
  color: #555;
}
.mypage-container .logout-btn {
  margin-top: 40px;
  width: 100%;
}
/* 모바일 크기 */
@media (max-width: 768px) {
  .nav-container .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    display: none;
    flex-direction: column;
    width: 100%;

    background: #666;
  }
  .nav-container .nav-toggle {
    display: block;
  }
  .nav-container .nav-item {
    border: 1px solid gray;
  }
  .nav-container .nav-link {
    height: 80px;

    font-size: 1.8rem;
    font-weight: bold;
  }
  .introduce-container .tab-content .intro-title-btn {
    width: 120px;
    height: 120px;

    font-size: 16px;
  }
  .introduce-container .tab-content .intro-content {
    border: 1px solid black;

    font-size: 1.2rem;
    line-height: 1.6;
  }
  .regist-container h2 {
    font-size: 2rem;
  }
  .regist-container table tr td {
    font-size: 16px;
    text-align: left;
  }
  .regist-container table tr td:first-child {
    width: 100px;
    font-size: 15px;
  }
  .regist-container table tr td .signup-input {
    height: 35px;
    font-size: 14px;
  }
  .regist-container table tr td label {
    margin: 30px;
    font-size: 1rem;
  }
  .regist-container table tr .btn-area {
    text-align: right;
  }
  .mypage-container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #333;
  }
  .mypage-container .profile-upload {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
  }
  .mypage-container .profile-upload .upload-label p {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 25px;
    height: 25px;
    font-size: 30px;
    line-height: 23px;
    text-align: center;

    border: 1px solid #dfdfdf;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(240, 239, 239);

    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  .mypage-container .change-password-container button {
    background-color: rgba(0, 0, 0, 0.07);
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: #555;
    display: none;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 20px auto;
  }
  .mypage-container p {
    font-size: 16px;
    line-height: 40px;
    margin-top: 15px;
    color: #555;
  }
}
@media (min-width: 769px) {
  .nav-container .nav-menu {
    position: static;

    display: flex !important;
    flex-direction: row;
    width: auto;

    background: none;
  }
}
/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  body {
    color: #f0f0f0;

    background-color: #121212;
  }

  nav {
    background: linear-gradient(135deg, #1f1f6f 0%, #3030a7 50%, #5555f3 100%);
  }
  .nav-container .nav-item {
    border: 1px solid rgba(00, 57, 212, 0.2);

    background-color: rgba(33, 52, 104, 0.7);
  }
  .nav-container .nav-item:hover {
    background-color: #3030a7;
  }
  .nav-container .nav-item:active {
    background-color: #303097;
  }
  .nav-container .nav-link {
    color: #f5f5f5;
  }
  .nav-container > a:hover {
    background-color: #1f1f4f;
  }
  .nav-container > a:active {
    background-color: #1f1f2f;
  }

  .banner-container {
    background-color: #222;
    border-bottom: 2px solid #888;
  }
  #prev,
  #next {
    color: #fff;

    background: rgba(255, 255, 255, 0.2);
  }

  .popup-content {
    color: #fff;

    background: #2a2a2a;
  }
}
