/* 공통 초기화 */
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  margin-top: 80px;

  font-family: "Noto Sans KR", sans-serif;

  background-color: #e2e2e2;
  color: #000;
}

button,
nav a {
  font-family: "Spoqa Han Sans", sans-serif;
}

html {
  overflow-y: scroll;
}
/* 공통 네비게이션 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  background: linear-gradient(135deg, #49aef1 0%, #4e7fff 50%, #3392f1 100%);
}
.nav-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 80px;
}
.nav-container > a {
  height: 78px;
  border-radius: 5px;
}
.nav-container .university-logo {
  flex-shrink: 0;
  height: 80px;
}
.nav-container .nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 2px;
  width: 100%;

  list-style: none;

  background: #666;
}
.nav-container .nav-menu.mobile-open {
  display: flex;
}
.nav-container .nav-item {
  box-sizing: border-box;

  flex: 0 0 auto;
  min-width: 100px;
  height: 78px;
  padding: 0 10px;
  border: 1px solid rgba(00, 57, 212, 0.5);

  white-space: nowrap;

  background-color: rgba(00, 57, 212, 0.2);
}
.nav-container > a:hover,
.nav-item:hover {
  background: rgba(00, 57, 212, 0.1);
}
.nav-container > a:active,
.nav-item:active {
  background: rgba(00, 57, 212, 0.3);
}
.nav-container .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
/* 모바일용  네비게이션 토글 버튼 */
.nav-container .nav-toggle {
  display: none;
  margin-right: 20px;
  border: none;

  font-size: 50px;
  color: #333;

  background: none;

  cursor: pointer;
}

/* 배너 */
.banner {
  margin-top: 90px;

  text-align: center;
}
.banner-container {
  position: relative;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;

  background: #ddd;

  overflow: hidden;
}
.banner-container .slide-wrap {
  position: relative;

  display: flex;
  width: max-content;
}
.banner-container .slide {
  flex-shrink: 0;
  width: 100%;
  max-width: 900px;
}
.banner-container .slide img {
  display: block;
  width: 100%;
  height: 700px;
  border-radius: 10px;
}

.banner-container #prev,
.banner-container #next {
  position: absolute;
  top: 50%;
  z-index: 10;

  padding: 10px;
  border: none;
  border-radius: 50%;

  color: white;

  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transform: translateY(-50%);
}
.banner-container #prev:hover,
.banner-container #next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-container #prev {
  left: 10px;
}
.banner-container #next {
  right: 10px;
}

/* 팝업 */
.popup {
  position: fixed;
  inset: 0;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}
.popup-content {
  padding: 20px;
  border-radius: 5px;

  background: white;
}

/**   학교 소개    ***/
.introduce-container {
  position: relative;

  margin: 130px 40px;
}
.introduce-container .tab-menu {
  display: flex;
  width: 95%;
  margin: auto;
}
.introduce-container .tab-btn {
  flex: 1;
  padding: 6px;
  border: 2px solid #0056b3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  font-size: 1.5rem;
  font-weight: bold;

  background: #f8f9fa;

  cursor: pointer;
}
.introduce-container .tab-btn.active {
  background: #007bff;
  color: white;
}
.introduce-container .tab-content {
  position: absolute;
  z-index: 0;

  width: 100%;
  min-height: 150px;
  padding: 20px;
  border: 3px solid #0056b3;
  border-radius: 8px;

  background: #f8f9fa;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.introduce-container .tab-content.active {
  z-index: 1;

  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.introduce-container .tab-content .univ-img {
  display: block;
  width: 100%;
  max-width: 800px;

  margin: 0 auto 40px;
  border-radius: 10px;
}
.introduce-container .tab-content .intro-title-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
}
.introduce-container .tab-content .intro-title-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 2px solid #2e64a1;
  border-radius: 50%;

  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;

  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  cursor: pointer;
}
.introduce-container .tab-content .intro-title-btn:hover,
.introduce-container .tab-content .intro-title-btn.active {
  color: white;

  background-color: #007bff;
  transform: scale(1.05);
}
.introduce-container .tab-content .intro-content {
  display: none;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 2rem;
  line-height: 1.6;

  background-color: rgba(0, 0, 0, 0.07);
}
.introduce-container .tab-content .intro-content p {
  margin-bottom: 1.5em;

  line-height: 1.7;
}
.introduce-container .tab-content .intro-content.active {
  display: block;
}

.introduce-container .tab-content .timeline-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
}
.introduce-container .tab-content .timeline-container h2 {
  margin-bottom: 20px;

  font-size: 60px;
}
.introduce-container .tab-content .timeline-container .timeline {
  position: relative;

  border-left: 3px solid #4a90e2;
  padding-left: 30px;
}
.introduce-container .tab-content .timeline-container .timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 3px;
  height: 100%;

  background: #4a90e2;
}
.introduce-container .tab-content .timeline-container .timeline-item {
  position: relative;

  margin-bottom: 40px;
}
.introduce-container .tab-content .timeline-container .timeline-item::before {
  content: "";
  position: absolute;
  left: -43px;
  bottom: 0px;

  width: 20px;
  height: 20px;
  border: 3px solid #4a90e2;
  border-radius: 50%;

  background: white;
}
.introduce-container .tab-content .timeline-container .timeline-date {
  position: relative;
  bottom: -50px;

  margin-bottom: 8px;

  font-size: 20px;
  font-weight: bold;
  color: #4a90e2;
}
.introduce-container .tab-content .timeline-container .timeline-content {
  position: relative;
  bottom: -50px;

  padding: 15px 20px;
  border-radius: 8px;

  font-size: 15px;
  line-height: 1.6;

  background: #f4f4f4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.introduce-container .tab-content .principal-container {
  display: flex;
  gap: 30px;
  max-width: 700px;
  margin: 0 auto;

  background-color: #f9f9f9;
}
.introduce-container .tab-content .principal-container .principal-photo {
  width: 60%;
  height: 60%;
  border: 5px solid gainsboro;
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
.introduce-container .tab-content .principal-container .principal-message {
  max-width: 600px;

  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}
.introduce-container .tab-content .principal-container .principal-message h2 {
  margin-bottom: 12px;
  padding-left: 10px;
  border-left: 5px solid #004080;

  font-size: 28px;
  color: #004080;
}
.introduce-container .tab-content .principal-container .principal-message p {
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 1.6;
}
.introduce-container .tab-content .principal-container .principal-message span {
  display: block;

  font-style: italic;
  font-weight: 600;
  color: #666;
  text-align: right;
}
.introduce-container .tab-content iframe {
  display: block;
  width: 80%;
  min-height: 500px;
  margin: 20px auto;
  border: 1px solid black;
}
/** 대학 및 학과 소개 **/
.college-container {
  max-width: 1200px;
  margin: auto;
}
.college-container .college-department {
  margin: 30px 0;
  padding: 15px;
  background-color: #e9f1ff;
  border: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
}
.college-container .college-department:hover {
  background-color: #c1d3f2;
}
.college-container .college-department:active {
  background-color: #88b0f4;
}
.college-container .college-department-img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 700px;
  margin: 10px auto;
  border: 2px solid #5a7ab0;
  border-radius: 10px;
}
.college-container .department-list {
  display: none;
  margin-top: -30px;
  margin-bottom: 30px;

  background-color: #f9f9f9;
}
.college-container .department-list.active {
  display: block;
}
.college-container .department-list ul {
  font-size: 2rem;
  line-height: 100px;
  list-style: none;
  text-align: center;
}
.college-container .department-list li {
  border: 1px solid #c7def7;
}
.college-container .department-list li:hover {
  background-color: #c7def7;
}
.college-container .department-list li:active {
  background-color: #acd1f8;
}
/* 학과 모달창 */
.modal {
  position: fixed;
  inset: 0;
  z-index: 3000;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: flex;
}

.modal .modal-content {
  position: relative;

  width: 80%;
  height: 70%;
  max-width: 1000px;
  max-height: 800px;
  border-radius: 8px;

  background: rgba(216, 216, 216);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  overflow-y: auto;
}
.modal .modal-content .modal-head {
  display: flex;
  justify-content: space-between;

  background-color: #acd1f8;
}
.modal .modal-content .modal-head .modal-title {
  margin: 5px 15px;

  font-size: 40px;
  font-weight: bold;
}
.modal .modal-content .modal-head .modal-close {
  margin: 5px 15px;
  border: none;
  background: none;

  font-size: 40px;

  cursor: pointer;
}
.modal .modal-content .modal-body {
  margin: 10px;
  padding: 10px;
  border: 2px solid #aeccff;
  border-radius: 5px;

  background: white;
}
.modal .modal-content .modal-body h2 {
  text-align: center;
  margin-bottom: 20px;
}
.modal .modal-content .modal-body h3 {
  text-align: center;
  margin: 20px;
}
.modal .modal-content .modal-body li {
  list-style: none;
}

/* 모바일 크기 */
@media (max-width: 768px) {
  .nav-container .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    display: none;
    flex-direction: column;
    width: 100%;

    background: #666;
  }
  .nav-container .nav-toggle {
    display: block;
  }
  .nav-container .nav-item {
    border: 1px solid gray;
  }
  .nav-container .nav-link {
    height: 80px;

    font-size: 1.8rem;
    font-weight: bold;
  }
  .introduce-container .tab-content .intro-title-btn {
    width: 120px;
    height: 120px;

    font-size: 16px;
  }
  .introduce-container .tab-content .intro-content {
    border: 1px solid black;

    font-size: 1.2rem;
    line-height: 1.6;
  }
}
@media (min-width: 769px) {
  .nav-container .nav-menu {
    position: static;

    display: flex !important;
    flex-direction: row;
    width: auto;

    background: none;
  }
}
/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  body {
    color: #f0f0f0;

    background-color: #121212;
  }

  nav {
    background: linear-gradient(135deg, #1f1f6f 0%, #3030a7 50%, #5555f3 100%);
  }
  .nav-container .nav-item {
    border: 1px solid rgba(00, 57, 212, 0.2);

    background-color: rgba(33, 52, 104, 0.7);
  }
  .nav-container .nav-item:hover {
    background-color: #3030a7;
  }
  .nav-container .nav-item:active {
    background-color: #303097;
  }
  .nav-container .nav-link {
    color: #f5f5f5;
  }
  .nav-container > a:hover {
    background-color: #1f1f4f;
  }
  .nav-container > a:active {
    background-color: #1f1f2f;
  }

  .banner-container {
    background-color: #222;
    border-bottom: 2px solid #888;
  }
  #prev,
  #next {
    color: #fff;

    background: rgba(255, 255, 255, 0.2);
  }

  .popup-content {
    color: #fff;

    background: #2a2a2a;
  }
}
